<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GymBuddy - Adaugă Sală Fitness</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GymBuddy</a>
  </div>
</nav>
<div class="container mt-5">
  <h2>Adaugă o sală</h2>
  <form id="addSalaFitnessForm">
    <div class="mb-3">
      <label for="nume" class="form-label">Nume</label>
      <input type="text" class="form-control" id="nume" required>
    </div>
    <div class="mb-3">
      <label for="adresa" class="form-label">Adresă</label>
      <input type="text" class="form-control" id="adresa" required>
    </div>
    <div class="mb-3">
      <label for="webAdresa" class="form-label">Adresă web</label>
      <input type="text" class="form-control" id="webAdresa" required>
    </div>
    <button type="button" class="btn btn-primary" onclick="saveSala()">Salvează</button>
  </form>
</div>
<script>
  function saveSala() {
    const nume = document.getElementById('nume').value;
    const adresa = document.getElementById('adresa').value;
    const webAdresa = document.getElementById('webAdresa').value;

    const data = {
      nume: nume,
      adresa: adresa,
      webAdresa: webAdresa,
    };

    fetch('sali/sali/adauga_sali', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then(response => {
      if (response.ok) {
        alert('Sala' + " " + nume + " " + adresa + ' a fost salvata cu succes!');
        document.getElementById('addSalaFitnessForm').reset();
      } else {
        alert('Eroare la salvarea salii. Exista deja o sala cu adresa ' + webAdresa);
      }
    }).catch(error => {
      console.error('Eroare:', error);
      alert('Eroare la comunicarea cu serverul.');
    });
  }
</script>
</body>
</html>
