<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
<!--  <link href="../static/login.css" th:href="@{/login.css}" rel="stylesheet" />-->
  <title>Logare</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Logare</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div th:if="${param.error}">
        <div class="alert alert-danger">Invalid Username or Password</div>
      </div>
      <div th:if="${param.logout}">
        <div class="alert alert-success">You have been logged out.</div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Login</h2>
        </div>
        <div class="card-body">
          <form method="post" role="form" th:action="@{/login}"
                class="form-horizontal">
            <div class="form-group mb-3">
              <label class="control-label"> Username</label> <input type="text"
                                                                    id="username" name="username" class="form-control"
                                                                    placeholder="Enter username" />
            </div>
            <div class="form-group mb-3">
              <label class="control-label"> Password</label> <input
                    type="password" id="password" name="password"
                    class="form-control" placeholder="Enter password" />
            </div>
            <div class="form-group mb-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="icon" href="../utils/favicon.png">
    <script src="https://kit.fontawesome.com/9c00960078.js" crossorigin="anonymous"></script>
    <title>Logare</title>
</head>
<body>
    <div class="window-container">
        <img id="bg" src="./utils/bg-image.jpg" alt="bg">
        <img id="logo" src="./utils/logo.png" alt="logo">
        <div id="login-container">
            <h3 id="login">Logare</h3>
            <div id="email-form">
                <i class="fa fa-light fa-envelope"></i>
                <form>
                    <input type="text" id="email-input" name="Email" placeholder="Email" required>
                </form>
            </div>
            <div id="psw-form">
                <i class="fa fa-light fa-lock"></i>
                <form>
                    <input type="password" id="psw-input" name="Password" placeholder="Parolă" required>
                </form>
            </div>
            <button class="button" id="button">Loghează-te</button>
        </div>
    </div>
    <script src="./login.js"></script>
</body>
</html>-->