<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymBuddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">GymBuddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row col-md-10">
        <h2>List of Sali</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
<!--            <th>ID</th>-->
            <th>Nume</th>
            <th>Adresă</th>
            <th>Adresă web</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sala : ${sali}">
<!--            <td th:text="${sala.id}"></td>-->
            <td th:text="${sala.nume}"></td>
            <td th:text="${sala.adresa}"></td>
            <td th:text="${sala.webAdresa}"></td>
            <td>
                <button th:attr="onclick='confirmDelete(\'' + ${sala.id} + '\')'">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <script>
        function confirmDelete(salaId) {
            console.log("se apeleaza");
            var confirmDelete = confirm("Sunteți sigur că doriți să ștergeți aceasta sala?");
            if (confirmDelete) {
                console.log("trying fetch " + salaId)
                fetch('/sali/' + salaId, {
                    method: 'DELETE',
                })
            .then(response => {
                    if (response.ok) {
                        alert('Sala stearsa cu succes!');
                        location.reload();
                    } else {
                        alert('Eroare la ștergerea sălii.');
                    }
                })
                    .catch(error => {
                        console.error('Eroare:', error);
                        alert('Eroare la comunicarea cu serverul.');
                    });
            }
        }

    </script>
</div>
</body>
</html>